<header class="app-header__wrapper">
    <div class="app-header">
        <a class="app-header__main-link" href="/">Weather App</a>
        <nav class="app-header__nav">
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </nav>
    </div>
</header>
