<!doctype html>
<html lang="en">
<head>
    <%- include("./partials/head", { pageTitle: "Help Page" }); %>
</head>
<body>
    <%- include("./partials/header"); %>
    <main class="main-layout__wrapper">
        <p>Help with Weather App</p>
    </main>
    <%- include("./partials/footer"); %>
</body>
</html>
