<!doctype html>
<html lang="en">
<head>
    <%- include("./partials/head"); %>
</head>
<body>
    <%- include("./partials/header"); %>
    <main class="main-layout__wrapper">
        <h2>Welcome to Weather App</h2>
        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <h3 class="weather-title"></h3>
        <p class="weather-info"></p>
        <p class="weather-error"></p>
    </main>
    <script src="../public/js/index.js"></script>
    <%- include("./partials/footer"); %>
</body>
</html>
